html {
    background-image: url('../IMG/padrehijo.jpeg');
    background-size: 75%;
    background-position: center center;
    background-attachment: fixed; 
    height: 80%; ;
    margin: 0;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar-brand .navbar-item {
    color: black !important; 
}

.navbar-item:hover, .navbar-link:hover {
    background-color: gold !important;
    color: black !important;
}

.navbar-item.is-active, .navbar-link.is-active {
    background-color: gold !important;
    color: black !important; 
}

.navbar-dropdown {
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: black !important;
}

.navbar-dropdown .navbar-item {
    background-color: rgba(255, 255, 255, 0.9);
    color: black; 
    font-weight: normal;
}

.navbar-dropdown .navbar-item:hover {
    background-color: gold !important;
    color: black !important; 
    font-weight: bold; 
}

.navbar-item.has-dropdown .navbar-dropdown {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.navbar-item .navbar-link {
    color: black !important;
}

.navbar-item.has-dropdown .navbar-dropdown .navbar-item {
    background-color: rgba(255, 255, 255, 0.9);
    color: black; 
    font-weight: normal;
}

.navbar-item.has-dropdown .navbar-dropdown .navbar-item:hover {
    background-color: gold !important;
    color: black !important; 
    font-weight: bold; 
}

/*===========================================================================*/

.table {
    background-color: rgba(255, 255, 255, 0.15);
    border-collapse: collapse;
    width: 100%;
    backdrop-filter: blur(6px);
}

.table th, .table td {
    border: 1px solid rgba(255, 255, 255, 0.1); 
    padding: 10px;
    text-align: left;
    color: #222;
}

.table thead {
    background-color: rgba(255, 255, 255, 0.2);
    color: #111; 
}

.table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
