.input {
  --bulma-input-focus-h: 51deg;
  --bulma-input-focus-s: 100%;
  --bulma-input-focus-l: 50%;
}

:root {
  --bulma-link-h: 51deg;
  --bulma-link-l: 50%;
  --bulma-scheme-h: 243;
}

.highlight {
  color: #ffd700;
}

.button-custome:hover {
  background-color: #ffd700 !important;
  color: #000000 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.select select:focus + .icon i {
  color: gold;
}