.input {
  --bulma-input-focus-h: 0deg;
  --bulma-input-focus-s: 0%;
  --bulma-input-focus-l: 99%;
}

:root {
  --bulma-link-h: 51deg;
  --bulma-link-l: 50%;
  --bulma-scheme-h: 243;
}

.highlight {
  color: #ffd700;
}